{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg'">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to Gym Blog, your go-to source for all things fitness and workout-related!
          Our mission is to empower you with the knowledge, motivation, and tools you need to make positive changes in your fitness journey.
          Whether you're a seasoned gym-goer or a complete beginner, our blog is here to support and guide you every step of the way.
        </p>
        <p>
          Whether you're looking to build muscle, shed those extra pounds, improve your athletic performance, or simply lead a healthier lifestyle,
          Gym Blog is your ultimate resource for all things fitness. We provide you with expert advice on proper nutrition, meal planning, and dietary tips to fuel your body optimally.
          Our delicious and healthy recipes will keep your taste buds satisfied while supporting your fitness goals.
        </p>
        <p>
          Join our thriving community of fitness enthusiasts who are all on a similar path of self-improvement.
          Connect with like-minded individuals, share your fitness accomplishments, and find inspiration from others' success stories.
          We believe that together, we can achieve more.
        </p>
        <p>
          Thank you for being a part of the Gym Blog community.
          Together, let's break barriers, set new personal records, and reach our fitness aspirations.
          Your fitness journey starts here, and we're excited to accompany you every step of the way!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
